<a href="https://colab.research.google.com/github/honeyd3wy/PyTorch/blob/master/n122_chi_square_test_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# üìù Assignment

# Ïπ¥Ïù¥Ï†úÍ≥±Í≤ÄÏ†ï


## 1. Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞ Ï°∞Ïûë Ïó∞Ïäµ. 

Íµ≠Í∞Ä ÌÜµÍ≥Ñ Ìè¨ÌÑ∏ÏóêÏÑú ÏïÑÎûò Ïù¥ÎØ∏ÏßÄÎ•º Ï∞∏Ï°∞ÌïòÏó¨

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ÎÖÑ 8Ïõî**Ïóê Ìï¥ÎãπÌïòÎäî Í∑úÎ™®Î≥Ñ ÎØ∏Î∂ÑÏñëÌòÑÌô© Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mÏù¥Ìïò`, `60~85m`, `85mÏ¥àÍ≥º`Ïùò 3Í∞ú Í∑úÎ™®ÏôÄ (column)
- `ÏÑúÏö∏`, `ÎåÄÏ†Ñ`, `ÎåÄÍµ¨`, `Î∂ÄÏÇ∞` 4Í∞úÏùò ÏßÄÏó≠ÏùÑ Ìè¨Ìï®Ìï¥ÏïºÌï©ÎãàÎã§. (row)
- `ÎØºÍ∞ÑÎ∂ÄÎ¨∏`Îßå Ìè¨Ìï®Ìï©ÎãàÎã§
- Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞Îäî 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

Ïù¥ÌõÑ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ colabÏúºÎ°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî. Ïù¥Îïå Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ `df`Î•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [1]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ÏÑúÏö∏', 'ÎåÄÏ†Ñ', 'ÎåÄÍµ¨', 'Î∂ÄÏÇ∞']

In [2]:
import pandas as pd

parcel = pd.read_csv('Í∑úÎ™®Î≥Ñ_ÎØ∏Î∂ÑÏñëÌòÑÌô©_2020_08.csv', encoding='CP949')
# Ïú†ÎãàÏΩîÎìú ÎîîÏΩîÎìú ÏóêÎü¨, UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 26: invalid start byte
# Ìï¥Í≤∞Î≤ï: encoding='CP949' or encoding='latin'
# https://rfriend.tistory.com/250

parcel.columns = ['ÏãúÎèÑ', 'Î∂ÄÎ¨∏', 'Í∑úÎ™®', 'value']
# Ïó¥ Ïù¥Î¶Ñ Ï†ÑÏ≤¥ Î≥ÄÍ≤Ω: .columns = ['c1', 'c2', ...]
# ÏùºÎ∂Ä Î≥ÄÍ≤Ω: .rename(columns={'before':'after'})
parcel

    ÏãúÎèÑ    Î∂ÄÎ¨∏      Í∑úÎ™®  value
0   ÏÑúÏö∏  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   60„é°Ïù¥Ìïò     54
1   ÏÑúÏö∏  ÎØºÍ∞ÑÎ∂ÄÎ¨∏  60‚àº85„é°      2
2   ÏÑúÏö∏  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   85„é°Ï¥àÍ≥º      0
3   Î∂ÄÏÇ∞  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   60„é°Ïù¥Ìïò    577
4   Î∂ÄÏÇ∞  ÎØºÍ∞ÑÎ∂ÄÎ¨∏  60‚àº85„é°    735
5   Î∂ÄÏÇ∞  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   85„é°Ï¥àÍ≥º    142
6   ÎåÄÍµ¨  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   60„é°Ïù¥Ìïò    143
7   ÎåÄÍµ¨  ÎØºÍ∞ÑÎ∂ÄÎ¨∏  60‚àº85„é°   1437
8   ÎåÄÍµ¨  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   85„é°Ï¥àÍ≥º     44
9   ÎåÄÏ†Ñ  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   60„é°Ïù¥Ìïò    782
10  ÎåÄÏ†Ñ  ÎØºÍ∞ÑÎ∂ÄÎ¨∏  60‚àº85„é°      1
11  ÎåÄÏ†Ñ  ÎØºÍ∞ÑÎ∂ÄÎ¨∏   85„é°Ï¥àÍ≥º      0

In [3]:
#  Î¨∏Ï†ú Ï°∞Í±¥Ïóê ÎßûÎèÑÎ°ù Ï∂úÎ†•ÌïòÍ∏∞ ÏúÑÌï¥ tidy -> wide
df = parcel.pivot_table(index = 'ÏãúÎèÑ', columns = 'Í∑úÎ™®', values = 'value')
df

Í∑úÎ™®  60‚àº85„é°  60„é°Ïù¥Ìïò  85„é°Ï¥àÍ≥º
ÏãúÎèÑ
ÎåÄÍµ¨    1437    143     44
ÎåÄÏ†Ñ       1    782      0
Î∂ÄÏÇ∞     735    577    142
ÏÑúÏö∏       2     54      0

## 2. ÏßÄÏó≠Ïóê ÎåÄÌï¥ÏÑú one-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi1`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) ÎßåÏïΩ **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ÏùÑ ÎπÑÍµê ÌïòÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

In [4]:
df_obs = pd.DataFrame(df.sum(axis=1))
#df_obs = df_obs.reset_index()
df_obs.columns = ['sum_2020_08']
df_obs

    sum_2020_08
ÏãúÎèÑ
ÎåÄÍµ¨         1624
ÎåÄÏ†Ñ          783
Î∂ÄÏÇ∞         1454
ÏÑúÏö∏           56

In [5]:
# One sample chi-square(Ï†ÅÌï©ÎèÑ Í≤ÄÏ†ï)

# Í∞ÄÏÑ§ ÏÑ§Ï†ï : ÎØ∏Î∂ÑÏñëÏàòÍ∞Ä ÏßÄÏó≠Î≥ÑÎ°ú Ï∞®Ïù¥Í∞Ä ÏûàÎã§Í≥† Ìï† Ïàò ÏûàÎäîÍ∞Ä?
#   H0 : ÏÑúÏö∏.sum == ÎåÄÍµ¨.sum == ÎåÄÏ†Ñ.sum == Î∂ÄÏÇ∞.sum (Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.)
#   H1 : not H0 (Ï∞®Ïù¥Í∞Ä ÏûàÎã§.)

import scipy.stats as stats
chi1 = stats.chisquare(df_obs['sum_2020_08'], axis=None)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

 $\chi^2$ =1564.457, p-value=0.0

p-value Í∞Ä Îß§Ïö∞ ÏûëÏúºÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ Í∏∞Í∞ÅÌïúÎã§.

Îî∞ÎùºÏÑú **ÎØ∏Î∂ÑÏñëÏàòÍ∞Ä ÏßÄÏó≠Î≥ÑÎ°ú Ï∞®Ïù¥Í∞Ä ÏûàÎã§**Í≥† Ìï† Ïàò ÏûàÎã§.

In [6]:
# stats.chi2 : ÏûÖÎ†•Ìïú >>Í≤ÄÏ†ïÌÜµÍ≥ÑÎüâ<<Ïùò Í∞íÏóê Îî∞Îùº Ïπ¥Ïù¥Ï†úÍ≥±Î∂ÑÌè¨ÏãùÏóêÏÑú Í∞íÏùÑ Í∞ÄÏ†∏Ïò§Îäî Î©îÏÑúÎìú
#   cdf(ÎàÑÏ†ÅÎ∂ÑÌè¨Ìï®Ïàò), Ï¶â ÌôïÎ•†Í∞í Î∞òÌôò
#   pdf(ÌôïÎ•†Î∞ÄÎèÑÌï®Ïàò)

#from scipy import stats
#1- stats.chi2.cdf(1564.4572376818994, df=3)

## 3. ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê ÎåÄÌï¥ÏÑú two-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi2`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ÏÑúÏö∏|52|2|0|
|ÎåÄÏ†Ñ|772|1|0|
|ÎåÄÍµ¨|113|1061|42|
|Î∂ÄÏÇ∞|590|665|142|

Ïóê ÎåÄÌï¥ÏÑú Í≤ÄÏ†ïÌï¥Ïïº Ìï† Í≤ÅÎãàÎã§.

In [7]:
df

Í∑úÎ™®  60‚àº85„é°  60„é°Ïù¥Ìïò  85„é°Ï¥àÍ≥º
ÏãúÎèÑ
ÎåÄÍµ¨    1437    143     44
ÎåÄÏ†Ñ       1    782      0
Î∂ÄÏÇ∞     735    577    142
ÏÑúÏö∏       2     54      0

In [8]:
# Two sample chi-sqare(ÎèÖÎ¶ΩÏÑ± Í≤ÄÏ†ï)
# Í∞ÄÏÑ§ ÏÑ§Ï†ï: ÏßÄÏó≠Í≥º Í∑úÎ™®Í∞ÑÏóê Í¥ÄÎ†®ÏÑ±Ïù¥ ÏûàÎã§Í≥† Ìï† Ïàò ÏûàÎäîÍ∞Ä?
#   H0 : Í¥ÄÎ†®ÏÑ±Ïù¥ ÏóÜÎã§.(ÎèÖÎ¶ΩÏ†ÅÏù¥Îã§)
#   H1 : Í¥ÄÎ†®ÏÑ±Ïù¥ ÏûàÎã§.(ÎèÖÎ¶ΩÏ†ÅÏù¥ÏßÄ ÏïäÎã§)

from scipy import stats
chi2 = stats.chi2_contingency(df)
chi2

# Ïù¥Î†áÍ≤å ÌïòÎ©¥ Ïïà ÎêúÎã§... chi2 Î©îÏÑúÎìúÏóêÎäî Í≤ÄÏ†ïÌÜµÍ≥ÑÎüâ Í∞íÏùÑ ÎÑ£Ïñ¥Ïïº Ìï®.
# stats.chi2.cdf(df,df=6)

(2064.5767314171994, 0.0, 6, array([[901.76155221, 645.12228746,  77.11616033],
        [434.77789124, 311.04110288,  37.18100587],
        [807.36533061, 577.59101353,  69.04365586],
        [ 31.09522594,  22.24559612,   2.65917794]]))

p-valueÍ∞Ä ÏïÑÏ£º ÏûëÏúºÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ Í∏∞Í∞ÅÌïúÎã§.

Îî∞ÎùºÏÑú, **ÏßÄÏó≠Í≥º Í∑úÎ™®Í∞ÑÏóê Í¥ÄÎ†®ÏÑ±Ïù¥ ÏûàÎã§**Í≥† Ìï† Ïàò ÏûàÎã§.

## 4. 2Î≤àÏóê ÎåÄÌï¥ÏÑú NumPy Î•º ÏÇ¨Ïö©ÌïòÏó¨ (ScipyÎ•º ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÍ≥†) $\chi^2$ test ÏãúÌñâ ÌõÑ 2Î≤àÏùò Í≤∞Í≥ºÏôÄ ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî. 

- `obs`, `exp`, `chi`ÎùºÎäî Î≥ÄÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏïºÌï©ÎãàÎã§.

In [9]:
df_obs

    sum_2020_08
ÏãúÎèÑ
ÎåÄÍµ¨         1624
ÎåÄÏ†Ñ          783
Î∂ÄÏÇ∞         1454
ÏÑúÏö∏           56

In [10]:
import numpy as np
obs = np.array(df_obs['sum_2020_08'])
obs

array([1624,  783, 1454,   56])

In [11]:
total_obs = np.sum(obs)
total_obs

3917

In [12]:
exp = np.array([total_obs,total_obs,total_obs,total_obs])
exp = exp/4
exp

array([979.25, 979.25, 979.25, 979.25])

In [13]:
squared = np.power(obs - exp, 2)
squared

array([415702.5625,  38514.0625, 225387.5625, 852390.5625])

In [14]:
chi = np.sum(squared / exp)
chi

1564.4572376818994

2Î≤à Î¨∏Ï†úÏùò chi1Ïùò Í≤∞Í≥ºÎäî Í≤ÄÏ†ïÌÜµÍ≥ÑÎüâ $\chi^2$=1564.4572376818994Î°ú, ÏÉàÎ°ú Í≥ÑÏÇ∞Ìïú chiÏôÄ Í∞ôÎã§.

## üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÏÑ∏Í∞ÄÏßÄÎ•º Îã§ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Function

4Î≤àÏóêÏÑú ÏÇ¨Ïö©Ìïú one sample chisquare testÎ•º Ìï®ÏàòÏùò ÌòïÌÉúÎ°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [15]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    obs = np.array(value)
    total_obs = np.sum(obs)
    exp = np.array([])
    for i in range(len(value)):
        exp = np.append(exp, total_obs)
    exp = exp/len(value)
    squared = np.power(obs - exp, 2)
    chi = np.sum(squared / exp)
    return chi, 1- stats.chi2.cdf(chi, df=len(value)-1)

# chisquareÍ∞íÍ≥º pvalueÎ•º Ï∂úÎ†•Ìï¥ÏïºÌï©ÎãàÎã§.
myChisq(v1)

(2.3000000000000003, 0.8062668698851285)

In [16]:
# test v1
stats.chisquare(v1, axis=None)

Power_divergenceResult(statistic=2.3000000000000003, pvalue=0.8062668698851285)

In [17]:
myChisq(v2)

(14.8, 0.011251979028327308)

In [18]:
# test v2
stats.chisquare(v2, axis=None)

Power_divergenceResult(statistic=14.8, pvalue=0.011251979028327346)

### 2. ANOVA

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ ANOVA Ïóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://partrita.github.io/posts/ANOVA-python/>

Îã§Ïùå `4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ`Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [19]:
# Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞
df_anova = pd.DataFrame({'A': [38, 33, 35, 92, 76, 97, 88, 41, 11, 9],
                     'B': [18, 52, 62, 48, 30, 40, 87, 12, 97, 82],
                     'C': [28, 90, 5, 49, 66, 73, 96, 80, 4, 17],
                     'D': [8, 99, 4, 12, 7, 64, 18, 10, 9, 20]})
df_anova

    A   B   C   D
0  38  18  28   8
1  33  52  90  99
2  35  62   5   4
3  92  48  49  12
4  76  30  66   7
5  97  40  73  64
6  88  87  96  18
7  41  12  80  10
8  11  97   4   9
9   9  82  17  20

In [20]:
# Í∞ÄÏÑ§ ÏÑ§Ï†ï
#   H0 : A.mean == B.mean == C.mean == D.mean
#   H1 : not H0

fvalue, pvalue = stats.f_oneway(df_anova['A'],df_anova['B'],df_anova['C'],df_anova['D'])
print(fvalue, pvalue)

1.7249594239128412 0.17920877113948797

In [21]:
# ANOVA table ÎßåÎì§Ïñ¥Î≥¥Í∏∞

# tidyÌôî
df_anova_melt = pd.melt(df_anova.reset_index(), id_vars=['index'], value_vars=['A', 'B', 'C', 'D'])
df_anova_melt.columns = ['index', 'treatments', 'value']
df_anova_melt

    index treatments  value
0       0          A     38
1       1          A     33
2       2          A     35
3       3          A     92
4       4          A     76
5       5          A     97
6       6          A     88
7       7          A     41
8       8          A     11
9       9          A      9
10      0          B     18
11      1          B     52
12      2          B     62
13      3          B     48
14      4          B     30
15      5          B     40
16      6          B     87
17      7          B     12
18      8          B     97
19      9          B     82
20      0          C     28
21      1          C     90
22      2          C      5
23      3          C     49
24      4          C     66
25      5          C     73
26      6          C     96
27      7          C     80
28      8          C      4
29      9          C     17
30      0          D      8
31      1          D     99
32      2          D      4
33      3          D     12
34      4          D      7
35      5          D     64
36      6          D     18
37      7          D     10
38      8          D      9
39      9          D     20

In [22]:
# Ìå®ÌÇ§ÏßÄ ÏÑ§Ïπò
# install
#! pip install bioinfokit

# upgrade to latest version
#! pip install bioinfokit --upgrade

In [23]:
# Í≤ΩÍ≥† Î©îÏÑ∏ÏßÄ Î¨¥ÏãúÌïòÍ∏∞
import warnings
warnings.filterwarnings('ignore')

from bioinfokit.analys import stat

res = stat()
res.anova_stat(df=df_anova_melt, res_var='value', anova_model='value ~ C(treatments)')
res.anova_summary

                 df     sum_sq      mean_sq         F    PR(>F)
C(treatments)   3.0   5393.675  1797.891667  1.724959  0.179209
Residual       36.0  37522.100  1042.280556       NaN       NaN

p-value > 0.1Ïù¥ÎØÄÎ°ú Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ Ï±ÑÌÉùÌïúÎã§.

Ï¶â, Í∑∏Î£π A, B, C, DÏùò ÌèâÍ∑†ÏùÄ **ÌïòÎÇòÎùºÎèÑ Îã§Î•¥Îã§Í≥† Î≥¥Í∏∞ Ïñ¥Î†µÎã§**.